{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cancel.css' %}">
    <title>Gym</title>
</head>
<body>
    <body>
        <nav>
            <h1>GYM</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Membership</a>
                    <ul>
						<li><a href="/get">Get Membership</a></li>
                        <li><a href="/update">Update Membership</a></li>
                        <li><a href="/cancel">Cancel Membership</a></li>
                    </ul>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="">Logout</a></li>
                
            </ul>
        </nav>
    
    <div class="main">
        <div class="cancel">
            <h2>Cancel Here</h2>
            <form id="cancel" action="/cancel" method="post">
            {% csrf_token %}
                <label>Username: </label><br><input type='text' id ='uname' name='uname' placeholder='Your Username'></br></br>
                
                <input type='submit' id="cancel" name='submit' value='Cancel'/>
            </form>
        </div>
    <div>

    
</body>
</html>