{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">
    <title>Gym</title>
</head>
<body>
    <nav>
        <h1>GYM</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">Membership</a>
                <ul>
                    <li><a href="/update">Update Membership</a></li>
                    <li><a href="/cancel">Cancel Membership</a></li>
                </ul>
            </li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="">Logout</a></li>
            
        </ul>
    </nav>
    <div class="main">
        <div class="update">
            <h2>Update Membership Here</h2>
			
            <form id="update" action="/update" method="POST"/>
            {% csrf_token %}
                <label>Username: </label><input type="text" id="uname" name="uname" placeholder='Your Username'> </br></br>
				<div class="input-row">
                    <label>Date From: </label><br><input type='date' id ='fdate' name='ufdate' placeholder='Select date'></br></br>

                <label>Date To: </label><br><input type='date' id ='tdate' name='utdate' placeholder='Select date'></div></br>

                <input type='submit' id="update" name='submit' value='Update'/>
            </form>
        </div>
    </div>

</body>
</html>